page-login {
  .bg-image{
    background-image: url("/assets/imgs/fondo.jpg");
    background-color: transparent !important;
    background-repeat: round;
  }
}
.swiper-pagination-bullet-active //it will change the color of active slider dot
{
  background-color: black;  //write your desired color here 
}
